{% extends "/home/humbu/sigpoc/templates/layout.html" %}

{% block content %}
    
<h3>Annee Scolaire Details</h3>
<p>Nom: {{ annee_scolaire.nom }}</p>
<p>Date Initiale: {{ annee_scolaire.date_initiale }}</p>
<p>Date Finale: {{ annee_scolaire.date_finale }}</p>
<p>Actuel: {{ annee_scolaire.actuel }}</p>
    
<!-- Template: scuelo/update_annee_scolaire.html -->
<h2>mise a  jours  Annee Scolaire</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">mise a  jours</button>
</form>
{% endblock content %}