{% extends "/home/humbu/sigpoc/templates/layout.html" %}

{% block content %}
<h2> Mettre a  jours  l'inscription</h2>

<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="id_eleve">Eleve</label>
                {{ form.eleve }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="id_classe">Classe</label>
                {{ form.classe }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="id_annee_scolaire">Annee scolaire</label>
                {{ form.annee_scolaire }}
            </div>
        </div>
      
    </div>
    <button type="submit" class="mt-2 btn btn-primary">mise a jours Inscription</button>
</form>
{% endblock %}