{% extends "/home/humbu/sigpoc/templates/layout.html" %}
{% block content %}
<style>
    /* Style for the form */
    .payment-form {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .payment-form input[type="text"],
    .payment-form input[type="number"],
    .payment-form select {
        width: calc(50% - 10px);
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .payment-form button[type="submit"] {
        width: 100%;
        background-color: #007bff; /* Bootstrap primary color */
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .payment-form button[type="submit"]:hover {
        background-color: #0056b3; /* Darker shade of primary color on hover */
    }

    .nav-link.active {
        font-weight: bold;
    }
</style>

<div >
 <a href="{% url 'manage_inscriptions' %}" class="btn btn-primary">Manage Inscriptions</a>

 <div class="row">
    <!-- Payment Form Column -->
    <div class="col-md-6">
        <!-- Payment Form -->
        <div class="payment-form mb-4">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>

    <!-- Statistics Section Column -->
    <div class="col-md-6">
        <!-- Statistics Section -->
        <hr>
        <!-- Total Montant of All Payments -->
        <div class="card text-center mb-4">
            <div class="card-body">
                <h5 class="card-title">Total Montant of All Payments</h5>
                <p class="card-text display-4">{{ total_montant_all_payments }}</p>
            </div>
        </div>

        <!-- Total Number of Payments -->
        <div class="card text-center mb-4">
            <div class="card-body">
                <h5 class="card-title">Total Number of Payments</h5>
                <p class="card-text display-4">{{ total_payments_count }}</p>
            </div>
        </div>

        <!-- Total Montant per Causal Category -->
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Total Montant per Causal Category</h3>
                <ul class="list-group">
                    {% for item in total_montant_per_causal %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ item.causal }}
                        <span class="badge badge-primary badge-pill">{{ item.total_montant }}</span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Total Number of Tenues -->
        <div class="card text-center mt-4">
            <div class="card-body">
                <h3 class="card-title">Total Number of Tenues</h3>
                <p class="card-text display-4">{{ total_tenues }}</p>
            </div>
        </div>
        <hr>
    </div>
</div>

    <form class="form-inline mb-4" method="GET" action="{% url 'manage_payments' %}">
        <div class="form-group mr-2">
            <input type="text" class="form-control" name="search" placeholder="Search by student name...">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <!-- Navigation for Filters -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link {% if not causal_filter %}active{% endif %}" href="{% url 'manage_payments' %}">All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if causal_filter == 'INS' %}active{% endif %}" href="{% url 'manage_payments' %}?causal=INS">Inscription</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if causal_filter == 'SCO' %}active{% endif %}" href="{% url 'manage_payments' %}?causal=SCO">Scolarite</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if causal_filter == 'TEN' %}active{% endif %}" href="{% url 'manage_payments' %}?causal=TEN">Tenue</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if causal_filter == 'CAN' %}active{% endif %}" href="{% url 'manage_payments' %}?causal=CAN">Cantine</a>
        </li>
    </ul>
  
    <div class="payment-list">
        {% if payments %}
        <h3>All Payments{% if search_query %} - Search results for "{{ search_query }}"{% endif %}</h3>
        <table class="table table-striped table-bordered payments-table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">Causal</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Date Paye</th>
                    <th scope="col">Note</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                <tr>
                    <td>{{ payment.inscription.eleve.nom }} {{ payment.inscription.eleve.prenom }}</td>
                    <td>{{ payment.get_causal_display }}</td>
                    <td>{{ payment.montant }}</td>
                    <td>{{ payment.date_paye }}</td>
                    <td>{{ payment.note|default_if_none:"" }}</td>
                    <td class="d-flex">
                        <a href="{% url 'update_paiement' payment.pk %}" class="btn btn-warning btn-sm mr-2">Update</a>
                        <button class="btn btn-danger btn-sm delete-btn" data-pk="{{ payment.pk }}">Delete</button>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No student found for "{{ search_query }}"</p>
        {% endif %}
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Get all delete buttons
        var deleteButtons = document.querySelectorAll('.delete-btn');
        
        // Add click event listener to each delete button
        deleteButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                // Get the payment ID from the data-pk attribute
                var paymentId = button.getAttribute('data-pk');
                
                // Display confirmation dialog
                var confirmDelete = confirm('Are you sure you want to delete this payment?');
                
                // If user confirms deletion, redirect to delete URL
                if (confirmDelete) {
                    window.location.href = '/homepage/delete-paiement/' + paymentId + '/';
                }
            });
        });
    });
</script>
{% endblock content %}