{% extends 'layout.html' %}
{% block title %}ajouter paiement {% endblock %}


{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-dark pb-5 mb-5 mt-9">
  <img src="logonassara-removebg-preview.png" alt="">
  <a class="navbar-brand text-light" href="{% url 'home' %}">Systeme d'information du Centre Social Djicofe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link text-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        
      </ul>
  </div>
</nav>
{% endblock header %}
  
{% block content %}
<div class="container">

  <h2>ajouter  un paiement pour  </h2>
  <!-- Display Eleve information -->
  <p><strong>Nom:</strong> {{ eleve.nom }}</p>
  <p><strong>Prenom:</strong> {{ eleve.prenom }}</p>
  <p><strong>Prenom:</strong> {{ eleve.classe_nass }}</p>


  <h2 class='accent-blue  mb-5 h1 font-weight-bold mb-4 '>nouveau paiement</h2>
  <form method="post">
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3 ">
        <label for="causal" class="form-label ">Causal</label>
        {{ form.causal }}
      </div>
      <div class="mb-3">
        <label for="montant" class="form-label">Montant</label>
        {{ form.montant }}
      </div>
      <div class="mb-3">
          <label for="date_paiement" class="form-label">date paiement</label>
          {{ form.date_paiement }}
        </div>
        <div class="mb-3">
          <label for="note_paiement" class="form-label" type='textarea'>note paiement</label>
          {{ form.note_paiement }}
        </div>  <!-- Render form fields -->
    <button type="submit" class="btn btn-primary">confirmer</button>
    <a href="{% url 'student_detail' pk=eleve.pk %}" class="btn btn-danger">annuler</a> <!-- Cancel button -->
  </form>
</div>
{% endblock %}
