{% extends "/home/humbu/sigpoc/templates/layout.html" %}



{% block content %}
<!-- Content Row -->
<div class="row">

    <!-- Total Tenues Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Tenues</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_tenues }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tshirt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Payments Count Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Payments</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_payments_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-coins fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Total Montant All Payments Card -->
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Montant of All Payments</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_montant_all_payments }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for classe, total_tenues in total_tenues_per_class.items %}
    <div class="col-lg-4 mb-4">
        <div class="card shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ classe }} Total Tenues</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_tenues }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tshirt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


</div>
   <!-- Total Inscriptions Card -->
   <div class="col-lg-4 mb-4">
    <div class="card shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Inscriptions</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_inscriptions }}</div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-file-signature fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>

        <!-- Total Students Card -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Students</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_students }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Total Girls Card -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Girls</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_girls }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-female fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Total Boys Card -->
        <div class="col-lg-4 mb-4">
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Boys</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_boys }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-male fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
<!-- /.row -->
{% endblock %}