{% extends 'layout.html' %}


{% block header %}


<nav class="navbar navbar-expand-lg navbar-light bg-dark pb-5 mb-5 mt-9">
  <img src="logonassara-removebg-preview.png" alt="">
  <a class="navbar-brand text-light" href="{% url 'home' %}">Systeme d'information du Centre Social Djicofe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link text-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
      
      </ul>
  </div>
</nav>
{% endblock header %}

{% block content %}

<div class='container'>
  <form method="post">
    {% csrf_token %}
        
    <div class="row">
      <!-- Personal Information Section -->
      <div class="col-md-6">
        <fieldset>
          <legend>Personal Information</legend>
          <div class="form-group">
            <label for="{{ form.nom.id_for_label }}">Nom</label>
            {{ form.nom }}
          </div>
          <div class="form-group">
            <label for="{{ form.prenom.id_for_label }}">Prenom</label>
            {{ form.prenom }}
          </div>
          <div class="form-group">
            <label for="{{ form.sex.id_for_label }}">sex</label>
            {{ form.sex }}
          </div>
          <!-- Add other personal information fields -->
        </fieldset>
      </div>
      
      <!-- Contact Information Section -->
      <div class="col-md-6">
        <fieldset>
          <legend>Contact Information</legend>
          <div class="form-group">
            <label for="{{ form.parent.id_for_label }}">Parent</label>
            {{ form.parent }}
          </div>
          <div class="form-group">
            <label for="{{ form.tel_parent.id_for_label }}">Tel Parent</label>
            {{ form.tel_parent }}
          </div>
          <div class="form-group">
            <label for="{{ form.date_enquete.id_for_label }}">date enquete</label>
            {{ form.date_enquete }}
          </div>
          
          <!-- Add other contact information fields -->
        </fieldset>
      </div>
    </div>
    
    <div class="row">
      <!-- Additional Information Section -->
      <div class="col-md-6">
        <fieldset>
          <legend>Additional Information</legend>
          <div class="form-group">
            <label for="{{ form.cs_py.id_for_label }}">CS PY</label>
            {{ form.cs_py }}
          </div>
          <div class="form-group">
            <label for="{{ form.condition_eleve.id_for_label }}">condition_eleve</label>
            {{ form.condition_eleve }}
          </div>
          <div class="form-group">
            <label for="{{ form.hand.id_for_label }}">Hand</label>
            {{ form.hand }}
          
          </div>
        
          <!-- Add other additional information fields -->
        </fieldset>
      </div>
      
      <!-- Inscription Information Section -->
      <div class="col-md-6">
        <fieldset>
          <legend>Inscription Information</legend>
          <div class="form-group">
            <label for="id_classe">Class</label>
            {{ form.classe }}
          </div>
          <div class="form-group">
            <label for="id_annee_scolaire">School Year</label>
            <select name="annee_scolaire" class="form-control">
              {% for annee in form.annee_scolaire.field.queryset %}
                <option value="{{ annee.pk }}">{{ annee.nom }}</option>
              {% endfor %}
            </select>
          </div>
        </fieldset>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Confirmer</button>
    <a href="{% url 'student_detail' pk=student.pk %}" class="btn btn-secondary">Cancel</a>
        <a href="{% url 'student_detail' pk=student.pk %}" class="btn btn-warning">Reset</a>
</form>

</div>
{% endblock %}