{% extends 'layout.html' %}
{% block title %}eleve de la {{ classe.nom }}{% endblock %}


        {% block header %}
   
        <nav class="navbar navbar-expand-lg navbar-light bg-dark pb-5 mb-5 mt-9">
          <img src="logonassara-removebg-preview.png" alt="">
          <a class="navbar-brand text-light" href="{% url 'home' %}">Systeme d'information du Centre Social Djicofe</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item active">
                      <a class="nav-link text-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                  </li>
                  
              </ul>
          </div>
        </nav>
        {% endblock header %}

{% block content %}
<div class=" ">
  <h2  class='pb-5 ml-3 h1 font-weight-bold'>list des eleves  

     </h2>
  <table class="table table-striped  ml-3">
    <thead class="bg-dark">
   
      <tr class="text-white">
        <th >Nom</th>
        <th>Prénom</th>
        <th>etat</th>
        <th>Sexe</th>
        <th>D. naissance</th>
        <th>CS_PY</th>
        <th>Handicap</th>
        <th>Année Inscription</th>
        <th>classe</th>



        <!-- Add other headers as needed -->
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
       
        <td>{{ student.nom }}</td>
        <td>{{ student.prenom }}</td>

        <td>{{ student.condition_eleve }}</td>
        <td>{{ student.sex }}</td>
        <td>{{ student.date_naissance }}</td>
        <td>{{ student.cs_py }}</td>
        <td>{{ student.hand }}</td>
        <td>{{ student.annee_inscr }}</td>
        <td>{{ student.classe_nass }}</td>
        

        
        <td>
          <a href="{% url 'student_detail' student.pk %}" class="btn btn-primary">details</a>
        </td>
        <!-- Add other columns as needed -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
