{% extends 'layout.html' %}
{% block title %}Student Detail: {{ student.nom }} {% endblock %}


{% block header %}

<nav class="navbar navbar-expand-lg navbar-light bg-dark pb-5 mb-5 mt-9">
  <img src="logonassara-removebg-preview.png" alt="">
  <a class="navbar-brand text-light" href="{% url 'home' %}">Systeme d'information du Centre Social Djicofe</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item active">
              <a class="nav-link text-light" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
         
      </ul>
  </div>
</nav>
{% endblock header %}

{% block content %}
<div class="container bg-orange vw-100 vh-100">
  
  
  <div class="row mb-5">
    <div class="col-md-6">
      <h3 class='mb-5'>Information personelle</h3>
      <p class=''><strong>Nom:</strong> {{ student.nom }}</p>
      <p><strong>Prénom:</strong> {{ student.prenom }}</p>
      <p><strong>Date Enquête:</strong> {{ student.date_enquete }}</p>
      <p><strong>Condition Élève:</strong> {{ student.condition_eleve }}</p>
      <p><strong>Sexe:</strong> {{ student.sex }}</p>
      <p><strong>Date Naissance:</strong> {{ student.date_naissance }}</p>
      <p><strong>CS_PY:</strong> {{ student.cs_py }}</p>
      <p><strong>Handicap:</strong> {{ student.hand }}</p>
      <p><strong>Année Inscription:</strong> {{ student.annee_inscr }}</p>
    </div>
    <div class="col-md-6 ">
      <h3 class="mb-5">Parent Information</h3>
      <p><strong>Parent:</strong> {{ student.parent }}</p>
      <p><strong>Téléphone Parent:</strong> {{ student.tel_parent }}</p>
    </div>
  </div>
  
  <a href="{% url 'student_update' pk=student.pk %}" class="btn btn-primary">mise a  jours </a>
  

  <hr>
  
  <!-- Payments section -->
  <h3>Payments</h3>
  <table class="table">
    <!-- Table headers -->
    <thead>
      <tr>
        <th>Causal</th>
        <th>Montant</th>
        <th>date paiement</th>
        <!-- Add other headers as needed -->
      </tr>
    </thead>
    <tbody>
      {% for payment in payments %}
      <tr>
        <td>{{ payment.causal }}</td>
        <td>{{ payment.montant }}</td>
        <td> {{ payment.date_paiement }}</td>
        <td>
          <a href="{% url 'update_payment' payment.pk %}" class="btn btn-primary">mettre a jours </a>
          <!-- This will redirect to the update page for the selected payment -->
      </td>
        <!-- Add other payment details as needed -->
      </tr>
      {% empty %}
      <tr>
        <td colspan="2">pas de paiement pour  le  moment</td>
      </tr>
      
      
      {% endfor %}

      
    </tbody>
    
  </table>
  
  <p class="text-black-50">Total  = {{ total_payment }}</p>
  <!-- Button to create a new payment -->
  <a href="{% url 'create_payment' student.pk %}" class="btn btn-primary">ajouter un paiement</a>
  
</div>
{% endblock %}
