{% extends 'layout.html' %}
{% block title %}Students of {{ classe.nom }}{% endblock %}


        {% block header %}
    <header>

   <div class="head  color-red p-4">
    Systeme  d'information du Centre Sociale Djicofethis is the header
   </div>

  </header>

        {% endblock header %}

{% block content %}
<div class=" ">
  <h2>Student List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>etat</th>
        <th>Sexe</th>
        <th>D. naissance</th>
        <th>CS_PY</th>
        <th>Handicap</th>
        <th>Année Inscription</th>



        <!-- Add other headers as needed -->
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <td>{{ student.nom }}</td>
        <td>{{ student.prenom }}</td>

        <td>{{ student.condition_eleve }}</td>
        <td>{{ student.sex }}</td>
        <td>{{ student.date_naissance }}</td>
        <td>{{ student.cs_py }}</td>
        <td>{{ student.hand }}</td>
        <td>{{ student.annee_inscr }}</td>



        <td>
          <a href="{% url 'student_detail' student.pk %}" class="btn btn-primary">View Details</a>
        </td>
        <!-- Add other columns as needed -->
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
