{% extends "/home/humbu/sigpoc/templates/layout.html" %}

<header>
    {% block header %}
    this is the h
    
    {% endblock header %}
</header>
 



{% block content %}
<!-- Main content -->
<div class="container mt-5">
    <div class="row justify-content-center">
        {% for classe in classes %}
            <div class="col-md-1 col-lg-4 mb-2">
                <div class="card h-50">
                    <div class="card-body d-flex align-items-center justify-content-center btn-primary text-white-50">
                        <a href="{% url 'student_per_classe' classe.id %}" class="card-link text-center">
                            <h5 class="card-title text-white">{{ classe.nom }}</h5>
                        </a>
                    </div>
                </div>
            </div>     
        {% endfor %}
    </div>
</div>
{% endblock %}
