{% extends 'layout.html' %}
{% block title %}liste  des  paiements{% endblock %}


{% block header %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/img/logonassara-removebg-preview.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Bootstrap
  </a>
   this  
</nav>
{% endblock header %}

{% block content %}
<div class="container">
  <h2>listes des paiements de  {{ student.nom }} {{ student.prenom }}</h2>
  <ul>
    {% for payment in payments %}
    <li>{{ payment.causal }} - {{ payment.montant }} - {{ payment.date_paiement }}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
