{% extends "/home/humbu/sigpoc/templates/layout.html" %}
{% load crispy_forms_tags %}
{% block header %}
<nav class="navbar navbar-expand-lg shadow-sm pb-5 bg-black">
  <div class="container-fluid mt-5">
    <a class="navbar-brand" href="#">Your School Name</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <h2>Create Student</h2>
    <form id="student-form" method="post">
        {% csrf_token %}
        <!-- Student Information -->
        <div class="row">
            <div class="col-md-6">
                {{ form.nom|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.prenom|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.date_enquete|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.condition_eleve|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.sex|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.date_naissance|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.cs_py|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.hand|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.annee_inscr|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.parent|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form.tel_parent|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.note_eleve|as_crispy_field }}
            </div>
        </div>
  

        <!-- Inscription Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h3>Inscriptions</h3>
            </div>
            <div class="card-body">
                <div id="inscription-formset" data-total-forms="{{ inscription_formset.total_form_count }}">
                    {{ inscription_formset.management_form }}
                    {% for form in inscription_formset %}
                    <div class="row mb-3 inscription-form">
                        <div class="col-md-5">
                            {{ form.classe|as_crispy_field }}
                        </div>
                        <div class="col-md-5">
                            {{ form.annee_scolaire|as_crispy_field }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}