{% extends "../../layout.html" %}

{% load crispy_forms_tags %}
{% block header %}
<nav class="navbar navbar-expand-lg shadow-sm pb-5 bg-white">
  
</nav>
  
{% endblock header %}

{% block content %}
<div class="container mt-5">
    <h2>Ajouter  un eleve</h2>
    <form id="student-form" method="post">
        {% csrf_token %}
        <!-- Student Information -->
        <div class="row">
            <div class="col-md-6">
                {{ form.nom|as_crispy_field }}
                {{ form.prenom|as_crispy_field }}
                {{ form.date_naissance|as_crispy_field }}
                {{ form.sex|as_crispy_field }}
                {{ form.cs_py|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ form.hand|as_crispy_field }}
                {{ form.condition_eleve|as_crispy_field }}
        
                {{ form.parent|as_crispy_field }}
                {{ form.tel_parent|as_crispy_field }}
                {{ form.date_enquete|as_crispy_field }}
                {{ form.note_eleve|as_crispy_field }}
                
            </div>
        </div>

        <!-- Inscription Information -->
        <div class="card mb-3">
            <div class="card-header">
                <h3>Inscriptions</h3>
            </div>
            <div class="card-body">
                <div id="inscription-formset" data-total-forms="{{ inscription_formset.total_form_count }}">
                    {{ inscription_formset.management_form }}
                    {% for form in inscription_formset %}
                    <div class="row mb-3 inscription-form">
                        <div class="col-md-5">
                            <label class="form-label">Classe</label>
                            {{ form.classe|as_crispy_field }}
                        </div>
                        <div class="col-md-5">
                            <label class="form-label">Année Scolaire</label>
                            {{ form.annee_scolaire|as_crispy_field }}
                        </div>
                     
                        <div class="col-md-2 d-flex align-items-end">
                            <button type="button" class="btn btn-danger remove-inscription">supprimer</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">confirmer</button>
        </div>
    </form>
</div>
{% endblock %}