{% extends "/home/humbu/sigpoc/templates/layout.html" %}


{% block content %}

  <h1>Details for {{ student.nom }} {{ student.prenom }}</h1>
  
  <div class="student-detail-container">
    <div class="student-info">
  <h2>Basic Information</h2>
  <p>Nom: {{ student.nom }}</p>
  <p>Prénom: {{ student.prenom }}</p>
  <p>Condition: {{ student.get_condition_eleve_display }}</p>
  <p>Sex: {{ student.get_sex_display }}</p>
  <p>Date de Naissance: {{ student.date_naissance }}</p>
  <p>CS PY: {{ student.get_cs_py_display }}</p>
  <p>Hand: {{ student.get_hand_display }}</p>
  <h2>Additional Information</h2>
  <p>Parents: {{ parents }}</p>
  <p>Notes: {{ notes }}</p>
  <hr>
  <h2>Update Student Information</h2>
  <a href="{% url 'student_update' pk=student.pk %}" class="btn btn-primary">Update Student</a>
  <hr>
  
  <h2>Inscriptions</h2>
  <ul>
    {% for inscription in inscriptions %}
      <li>{{ inscription.classe }} - {{ inscription.annee_scolaire }}</li>
      <!-- Add more information about the inscription as needed -->
    {% empty %}
      <li>No inscriptions found</li>
    {% endfor %}
  </ul>

  <h2>Add New Inscription</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Inscription</button>
  </form>

  <div class="student-payments">
      <h2>Payments</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Causal</th>
            <!-- Add more payment table headers as needed -->
          </tr>
        </thead>
        <tbody>
          {% for payment in payments %}
            <tr>
              <td>{{ payment.date_paye }}</td>
              <td>{{ payment.montant }}</td>
              <td>{{ payment.causal }}</td>
              <!-- Add more payment table data as needed -->
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">No payments found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <a href="{% url 'student_per_classe' class_id=clicked_class.id %}">Back to Class</a>
  
{% endblock %}