{% extends "/home/humbu/sigpoc/templates/layout.html" %}
{% block content %}
  <h1>Student List</h1>

  <p>Total Students: {{ total_students }}</p>
  <p>Number of Girls: {{ total_girls }}</p>
  <p>Total Fees Paid: {{ total_fees }}</p>
  <p>Sum of CS PY: {{ cs_py_sum }}</p>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Condition</th>
        <th>Sex</th>
        <th>Date de Naissance</th>
        <th>Total Payments</th>
        <th>Uniform Payments</th>
        <th>CS PY</th>
        <th>Hand</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.id }}</td>
          <td>{{ student.nom }}</td>
          <td>{{ student.prenom }}</td>
          <td>{{ student.condition_eleve }}</td>
          <td>{{ student.sex }}</td>
          <td>{{ student.date_naissance }}</td>
          <td>{{ student.tot_pag }}</td>
          <td>{{ student.tenues }}</td>
          <td>{{ student.cs_py }}</td>
          <td>{{ student.hand }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
