{% extends "../../layout.html" %}

{% block header %}
<nav class="navbar navbar-expand-lg shadow-sm pb-5 bg-white">
   <!-- Logo -->
   <div class="d-flex align-items-center ">
       
    <h1 class="ms-2 mb-0">{{ clicked_class.nom }}-{{clicked_class.type_ecole}}{{clicked_class.nom_ecole}} </h1>
</div>
<!-- Stats -->
<div class="navbar-nav ms-auto w-100 pr-5 mr-5">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 p">
        <li class="nav-item">
            <a class="nav-link text-black" href="#">Total eleve: {{ total_students }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">filles: {{ total_girls }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">Garcons: {{ total_boys }}</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link text-black" href="#">Total frais: {{ total_fees }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">Py-{{ students.total_py }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">  Cs-{{ total_cs }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">  Bravo-{{ total_bravo }}</a>
        </li>
        <li class="nav-item text-black">
            <a class="nav-link text-black" href="#">  Cs-{{ total_extra }}</a>
        </li>
        <li class="nav-item text-black">
            <a class="nav-link text-black" href="#">  Aban-{{ total_abandon }}  conf- {{total_good_condition}} prop-{{total_prop}} </a>
        </li>
    </ul>
</div>
</nav>
  
{% endblock header %}


{% block content %}
<!-- Navbar -->
<form class="d-flex mb-3 mt-4">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
  <button class="btn btn-outline-success" type="submit">recherche </button>
</form>


        <div class="row " >

            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered payments-table  w-95  ">
                        <thead class="">
                            <tr>
                                <th>ID</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Condition</th>
                                <th>Sexe</th>
                                <th>Date de Naissance</th>
                                <th>Total paiement</th>
                                <th>tenue</th>
                                <th>CS_PY</th>
                                <th>Hand</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                                <tr>
                                    <td>{{ student.id }}</td>
                                    <td>{{ student.nom }}</td>
                                    <td>{{ student.prenom }}</td>
                                    <td>{{ student.get_condition_eleve_display }}</td>
                                    <td>{{ student.get_sex_display }}</td>
                                    <td>{{ student.date_naissance }}</td>
                                    <td>{{ student.total_payment }}</td>
                                    <td>{{ student.total_fees }}</td>
                             
                                    <td>{{ student.get_cs_py_display }}</td>
                                    <td>{% if student.handicap %}
                                      {{ student.get_hand_display }}
                                  {% else %}
                                      <!-- Display blank if no handicap -->
                                  {% endif %}
                              </td>
                                    <td>

                                        <a href="{% url 'student_detail' pk=student.pk %}" class="btn btn-warning btn-sm">Details</a>


                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                       
                    </table>
                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}