<!DOCTYPE html>
{%  load static  %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <title>


        
        
        {% block title %}
            
        {% endblock title %}

        
    
            
    </title>
  
</head>

<body >
  
  {% block header %}
 
  
  {% endblock header %}

  
     
     
     {% block content %}
      
     

     {% endblock content %}
    
</body>
</html>